In [1]:
import pandas as pd

data = [20,10,40,50,60,30,70,80]
index = ['a','b','c','d','e','f','g','h']

series = pd.Series(data, index=index, name='MySeries')
series

a    20
b    10
c    40
d    50
e    60
f    30
g    70
h    80
Name: MySeries, dtype: int64

In [7]:
#series 를 sort_values 함수를 사용하여 정렬
series_sorted = series.sort_values()
series_sorted

b    10
a    20
f    30
c    40
d    50
e    60
g    70
h    80
Name: MySeries, dtype: int64

In [10]:
#내림차순으로 정렬 ascending = 0
series_sorted = series.sort_values(ascending=0)
series_sorted

h    80
g    70
e    60
d    50
c    40
f    30
a    20
b    10
Name: MySeries, dtype: int64

In [11]:
#인덱스를 기준으로 정렬하기 sort_index()
series_sorted = series.sort_index()
series_sorted

a    20
b    10
c    40
d    50
e    60
f    30
g    70
h    80
Name: MySeries, dtype: int64

In [18]:
#인덱스를 기준으로 내림차순으로 정렬하기
series_sorted = series.sort_values(ascending = False)
series_sorted

h    80
g    70
e    60
d    50
c    40
f    30
a    20
b    10
Name: MySeries, dtype: int64

In [19]:
#내림차순으로 순위 구하기 ascending값을 False
series_rank = series.rank(ascending = False)
series_rank

a    7.0
b    8.0
c    5.0
d    4.0
e    3.0
f    6.0
g    2.0
h    1.0
Name: MySeries, dtype: float64

정렬 문제풀이
[문제 7]
다음은 학생의 성적을 나타낸 시리즈입니다. 
이를 값을 기준으로 오름차순으로 정렬해 sorted_series에 넣어보세요.

In [22]:
data = {'Math': 85, 'English': 90, 'Science': 75, 'History': 88}
series = pd.Series(data)

# 여기에 정렬 코드를 작성하세요
sorted_series = series.sort_values(ascending=True)
sorted_series

Science    75
Math       85
History    88
English    90
dtype: int64

순위 구하기 문제풀이

학생의 시험 점수를 기준으로 순위를 내림차순으로

In [20]:
data = {'Math': 78, 'English': 92, 'Science': 85, 'History': 68}
series = pd.Series(data)

ranked_series = series.rank(ascending = False)
ranked_series

Math       3.0
English    1.0
Science    2.0
History    4.0
dtype: float64