In [15]:
import pandas as pd

#리스트로 시리즈 생성
data = [10,20,30,40,50]
series1 = pd.Series(data)

print(series1)
print(type(series1))

#배열로 시리즈 생성
import numpy as np

data2 = [10, 20, 30, 40, 50]
np_data = np.array(data)
print("\n배열의 타입:",type(np_data))

series2 = pd.Series(np_data)
print(series2)

#딕셔너리로 생성
data_dict = {
    'a':10,
    'b':20,
    'c':30,
    'd':40,
    'e':50
}
series = pd.Series(data_dict)
series
print("\n시리즈에 이름 생성")
series = pd.Series(data_dict, name= 'My_series')
series
print("\n시리즈 데이터타입 지정")
series = pd.Series(data, name='MySeries', dtype='float')
series

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

배열의 타입: <class 'numpy.ndarray'>
0    10
1    20
2    30
3    40
4    50
dtype: int64

시리즈에 이름 생성

시리즈 데이터타입 지정

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
Name: MySeries, dtype: float64

In [16]:
#시리즈 인덱스 정의
data1 = [1, 2, 3, 4]
index = ['a', 'b', 'c', 'd']

series = pd.Series(data1, index=index, name='MySeries', dtype='int32')
series

a    1
b    2
c    3
d    4
Name: MySeries, dtype: int32

시리즈의 이름 변경

In [17]:
series.name = "new_name"
series

a    1
b    2
c    3
d    4
Name: new_name, dtype: int32

시리즈의 타입 변경 astype()함수 사용

In [18]:
series = series.astype('float')
series

a    1.0
b    2.0
c    3.0
d    4.0
Name: new_name, dtype: float64

In [21]:
# 시리즈의 앞부분 확인하기- head()
#series.head()
# 시리즈의 뒷부분 확인하기 - tail()
#series.tail()
# 시리즈 데이터의 통계값 - describe
#series.describe()

In [28]:
import pandas as pd

data1 = [10,20,30,40]
data2 = [5,15,25,35]
index = ['a','b','c','d']

series1 = pd.Series(data1, index= index)
series1
series2 = pd.Series(data2, index = index)
series2

a     5
b    15
c    25
d    35
dtype: int64

시리즈 데이터 접근